<form method="post" action="/new">
  <h2>Message Form</h2>
  <label>Author: 
    <input name="messageUser" type="text" />
  </label>
  <label>Message:
    <input name="messageText" type="text">
  </label>
  <button>Submit message</button>
</form>
