<html>
  <head>
    <title>mini-message-board</title>
    <link rel="stylesheet" href="reset.css">
  </head>
  <body>
    <h1>Mini Message board</h1>
    <a href="/new"><button>Add new message</button></a>
    <h2>Messages</h2>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <div>Sender: <%= message.username %></div>
        <div>Date: <%= message.send_date.toString() %></div>
        <div>Message: <%= message.text %></div>
        <a href="/message/<%= message.id %>"><button>Open</button></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
